# ignore everything (dirs, files, sub-dirs, sub-files)
/*

# but do not ignore the .gitignore and .gitmodules files
!.gitignore
!.gitmodules

# do not ignore R projct
!PiecewiseSmoothing_Demo.Rproj

# do not ignore the following Rmd and R files
!plotResults.Rmd
!runPSandExaminePS.R

# do not ignore the readme, citation and licence
!README.md
!CITATION.cff
!LICENSE
!COPYING.txt

# do not ignore the following folders
!/modules



