# ignore everything (dirs, files, sub-dirs, sub-files)
/*

# but do not ignore the .gitignore file
!.gitignore

# do not ignore R projct
!PS.Rproj

# do not ignore the following Rmd and R files
!PS.Rmd
!PS.R
!runPS.R
!makeLandCoverClassRaster.R


# do not ignore the readme, citation and licence
!README.md
!CITATION.cff
!LICENsE
!COPYING.txt

# do not ignore the following folders
!/R
!/data
!/tests




